* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fffffe;
  font-family: monospace, sans-serif;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 99vw;
  height: 99vh;
  padding: 20px;
  background-color: green;
}

.dealer-message {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1.5rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: #4ba44b;
}

#dealer-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0 0 0;
}

#player-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  padding: 4vh 0 0 0;
}

.game-info {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #16b80e;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#bj-odds {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 4vh;
  font-weight: 600;
  height: 10vh;
  width: 23vw;

}

#min-bet {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 4vh;
  font-weight: 600;
  height: 10vh;
  width: 20vw;

}

.player-bank {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  padding: 3vh;
  background-color: #0da86f;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bank-value {
  grid-row: 1 / 2;
  display: flex;
  font-size: 5vh;
  font-weight: 700;
  justify-content: flex-start;
  align-items: center;
}

#bank-text {
  grid-row: 2 / 3;
  height: 10vh;
  width: 20vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.5vh;
}

.game-buttons {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  background-color: #0da834;
  justify-content: space-evenly;
  align-items: center;
}

.game-buttons button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ff8800;
  border: none;
  color: #fffffe;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 1.2em;
}

.bet-amount {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: grid;
  background-color: #60a80d;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#bet-instruction {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 5vh;
}

#wager {
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 5vh;
  font-size: 4vh;
  background-color: white;
  color: black;
  align-items: center;
}

.bet-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
}

.bet-buttons button {
  height: 8vh;
  width: 8vh;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 .8em;
  justify-content: center;
  align-items: center;
  color: white;
}

#chip-5 {
  background-color: red;
}

#chip-10 {
  background-color: blue;
}

#chip-25 {
  background-color: purple;
}

#chip-100 {
  background-color: black;
}